 <%- include("header") -%>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">GroupChat</a>
</nav>

  <div class="">



    <% newChat.forEach(function(item){ %>
        <h3><%=  item.name  %>:</h3>
        <p><%=  item.chat  %></p>
    <% })%>
  </div>


<!-- ////////////type box/////////// -->
  <form class="" action="/chat" method="post">
    <input type="text" name="chat" value="">
    <button type="submit" name="button">+</button>
  </form>
</body>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>

<%- include("footer") -%>
