<link rel="stylesheet" href="css/yourgroups.css">
<nav class="nav navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand" href="/">GroupChat</a>
  <i class="far icon fa-comments fa-2x"></i>
  <a class="btn btn-light btn-dark logout" href="/logout" role="button">Log Out</a>
</nav>
