<%- include("header") -%>
<link rel="stylesheet" href="css/home.css">

</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-dark  ">
    <a class="navbar-brand" href="/">GroupChat</a>
    <i class="far icon fa-comments fa-2x"></i>
  </nav>


  <h1 class="display-3">Welcome!</h1>

  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="buttondiv">
          <div class="btn-2  login ">
              <a  href="/login" role="button"><span>Login</span></a>
          </div>
          <div class="btn-2 register">
              <a  href="/register" role="button"><span>Register</span></a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <img class="welcomeimage" src="images/wel.svg" alt="">
      </div>
    </div>
  </div>

  <%- include("footer") -%>
