<%- include("header") -%>
<%- include("groupsheader") -%>

<h1>participants</h1>
<a href="/chat">
  <div class="groupList title">
    <h4 class="listItem">Go To Public Room</h4>
  </div>
</a>
<%const array=[ ]%>
<% newChat.forEach(function(item){ %>
<%if(array.includes(item.name) === false && item.nameOfGroup===requestedgroup){ %>
<%array.push(item.name)%>
<%} %>
<%}) %>

<% array.forEach(function(item){ %>
  <div class="groupList">
    <h4 class="listItem"><%=item%></h4>
  </div>
<%}) %>
<%- include("footer") -%>
