
.navbar{
  background-color: black
}

.logout{
  margin-left: 100px
}


.chatbox{
  width: 500px;
  margin-left: 300px;
  height: 400px;
   overflow: auto;
}
.icon{
  color: white;
  align-self:baseline;
}
.chat{
  margin-left: 20px;
}


.time{
  font-size: 12px;
  font-weight: bold;
  align-self: center;
}

.groupnamebox{
  margin-top: 50px;
  background-color: black;
  width: 500px;
  margin-left: 300px;
  align-items: center;
}
.groupname{
  color: white
}

.chatlabel{

    width: 400px;
}

.downbox{
  padding: 10px;
  margin: 10px;
  width: 100px;
}


.addbutton{
  margin-top: 0
}
.submitcard{
  margin-left: 300px;
  width: 500px;
  background-color: black
}

.time{
  line-height: 0px
}
