@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.navbar{
  background-color: #6186E4
}
.items{
  width: 100%
  align-items: center;
}
.icon{
  color: white;
  align-self:baseline;
}

h1{

width: 246px;
height: 80px;
left: 44px;
top: 90px;
margin-left: 164px;
margin-top: 30px;
font-family: cursive;
font-size: 64px;
line-height: 80px;
align-self: center;

}
.btn{
  margin-left: 70px;
  align-items: center;
}
.login{
  margin-top: 130px
}
.register{
    margin-top: 30px
}


.buttondiv{

align-items: center;
width: 250px;
height: 300px;
margin-top: 20%;
background: rgba(53, 103, 230, 0.56);
border: 10px solid #E5E5E5;
border-radius: 54px;
}

.welcomeimage{
  width: 400px;
  height: 400px;

}
