.navbar{
  background-color: black
}
.far{
  color: white;
  align-self:baseline;
}

h1{

width: 206px;
height: 80px;
left: 44px;
top: 90px;
margin-left: 44px;
margin-top: 30px;
font-family: cursive;
font-size: 54px;
line-height: 80px;
}

.box{
background: rgba(0, 0, 0, 0.78);
border-radius: 50px;
width: 600px
}

.btn{
  margin-left: 40%
}

.form-group{
  color: white
}
